<div class="row">
  <div class="col-md-9 mx-auto mb-3">
    <h2 class="header-option pub-header">投稿内容を編集</h2>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-6 mx-auto">
    <!--バリデーションエラーメッセージ表示-->
    <%= render "public/shared/error_messages", model: @post %>

    <%= render partial: "public/partials/post_new_edit", locals: { post: @post } %>
  </div>
</div>