<div class="row my-3">
  <div class="col-md-10 mx-auto">
    <h2 class="header-option pub-header">このサイトについて</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-9 mx-auto text-12rem">
    <p>　このサイトは、</p>
    <p class="bold-red">
      　全国各地に伝わる怖い話・不思議な話・民間伝承<br>
      　日常あるいは旅先で出会った怖い場所や神秘的な風景
    </p>
    <p>　などを収集し、会員同士で共有することを目的としています。</p>
    <p>
      　親や祖父母に聞いた地元の民話や、通っていた学校で流行っていた怪談…<br>
      　地域に伝わるお話はもちろんですが、オカルトの定番である「学校の怪談」「学校の七不思議」にも、意外とお国柄がわかるような独特のお話があったりするものです。<br>
      　そういったお話があれば、ぜひ共有してみてください。<br>
      　何気なく思えるお話でも、実は母校にだけ、地元にだけ伝わっている特別なお話があるかもしれません。
    </p>
    <p>　また、</p>
    <p>
      　「あれ？　こんなところに祠なんてあったんだ」<br>
      　「天気が悪いからか、いつもは気にも留めない近所の公園がなんとなく不気味に見える…」<br>
      　「小さい頃はなんとも思わなかったけど、この時間のこの場所ってすごく神秘的だな」
　    </p>
    <p>　などのように日常で出会う風景や、あるいは</p>
    <p>
      　「初めて来たけど、写真よりずっと不思議な場所だなぁ」<br>
      　「地元の人に近道だって教えてもらったけど、足を踏み入れるのを躊躇うレベルの雰囲気…」<br>
      　「やっぱ神社って空気違う」
    </p>
    <p>
      　こういった旅先での偶然の出会いなど、なんだか怖い、不思議だと感じた景色があれば、ぜひ共有していただけると嬉しいです。
    </p>
    <p>
      　そしてそれらの民話や怪談、風景が、一体どの地域に伝わっているものなのか、あるいはどこで見つけたものなのか、<!--
     -->「関東」「四国」などの地方区分や、「岩手」「三重」などの都道府県といった「<span class="text-border">位置情報</span>」と共に投稿することで…、
    </p>
    <p class="mt-5 pub-header">
      　この国のうつしよに存在する、「裏街道」ならぬ「裏"<span class="bold-red-nofont">怪</span>"道」分布図の作成に、どうかご協力をお願いいたします。
    </p>
    <% unless user_signed_in? %>
      <div class="option-center mt-5">
        <%= link_to ">> 新規会員登録する <<", new_user_registration_path, class: "btn btn-option mb-4" %><br>
        <%= link_to "会員の方はこちらからログイン", new_user_session_path, class: "link-option" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row mt-5 mb-3">
  <div class="col-md-10 mx-auto">
    <h4 class="header-option pub-header">禁止事項</h4>
  </div>
</div>

<div class="row mb-5">
  <div class="col-md-9 mx-auto text-12rem">
    <p>
      　トラブルを避けるため、以下の行為を禁止事項とさせていただきます。<br>
      　違反していることが明らかになった場合、事前の警告なく該当の投稿を削除します。
    </p>

    <div class="bold-red">
      <p>
        ◆肖像権やプライバシーの侵害など、個人情報保護法に抵触する恐れのある投稿およびコメント<br>
        ※自分自身の個人情報に関しても同様
      </p>
      <p>
        ◆自己所有物でない家屋や敷地内、および立入禁止区域など、家主あるいは管理者の許可を得ずに不法侵入して撮影したと思われる場所の投稿
      </p>
      <p>
        ◆身内・友人宅など立ち入りを許可された場所であっても、家主あるいは管理者に事前の承諾なく写真や位置情報を投稿する行為
      </p>
      <p>
        ◆誹謗中傷など、悪意を持って他人を傷つける内容の投稿およびコメント
      </p>
      <p>
        ◆その他、管理者が不適切と判断した行為
      </p>
    </div>

    <div class="mb-5">
      <p>
      　また、<span class="text-border">これらの違反行為を複数にわたって繰り返し行なった場合や、不正なログイン・ユーザー登録が発覚した場合、事前の警告なく<!--
     --><span class="bold-red">アカウントを削除</span>します。</span>
      </p>
    </div>
  </div>
</div>