@font-face { 
  /* ① ここにfont-familyで指定したい名前を書く*/
  font-family: "myfont"; 
  /* フォントが置かれているパスを書く */ 
  src: url("../assets/font/OradanoGSRR.ttf") format("truetype")
}

 /* ①で作成した名前を使うと、普通にfont-familyを使う感じで、アップロードしたフォントを利用できる */ 
h1{ 
  font-family: "myfont"; 
} 