<div class="row">
  <%= form_tag prefectures_path, method: :get do %>
    <table class="table">
      <thead>
        <tr>
          <th>都道府県で絞り込み</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="text-center">
            <%= select_tag :prefecture_id, options_from_collection_for_select(prefecture, :id, :prefecture_name, params[:prefecture_id]), { prompt: "選択してください", class: "select", style: "width: 100%" } %><br>
            <%= submit_tag '検索', class: "btn btn-option mt-2" %>
          </td>
        </tr>
      </tbody>
    </table>
  <% end %>
</div>