<div class="row margin-t-150 option-center">
  <div class="col-lg-6 mx-auto">
    <h3 class="pub-header mb-5">通報が完了しました。</h3>

    <p class="text-12rem">
      ご協力ありがとうございます。<br>
      該当の投稿の内容を確認し、対応させていただきます。
    </p>

    <div class="option-center mt-5">
    <%= link_to "全国の投稿一覧へ", posts_path, class: "link-option" %>
  </div>
  </div>
</div>