/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "variables";

html {
  scroll-behavior: smooth;
}

main {
  background-color: $thema-color1;
}

header {
  background-color: $thema-color2;
}

footer {
  background-color: $thema-color2;
}

h1 {
  font-family: "header";
}

p {
  font-family: "text";
}

.header-option {
  border-bottom: 2px solid #0f0001;
  border-left: 7px solid #0f0001;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  font-family: "header";
}

.table thead th {
  background-color: $thema-color2;
  color: #fff;
  font-family: "text";
}

.table tbody td {
  background-color: $thema-color4;
}

.btn-option {
  font-size: 15px;
  background: $thema-color2;
  font-family: "text";
  color: #fff;
  transition: .3s;
}

.btn-option:hover {
  background: $thema-color3;
  color: #fff;
}

.option-right {
  text-align: right;
}

input#keyword {
  width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: "text";
}

input.btn-option {
  margin: 0 auto;
}

.pagetop {
  font-family: "text";
  font-size: 14px;
  color: $thema-color2;
  text-decoration: none;
  transition: 0.3s0;
}

.pagetop:hover {
  color: $thema-color3;
}