/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "variables";

html {
  scroll-behavior: smooth;
  font-size: 15px;
}

main {
  background-color: $thema-color1;
  min-height: 800px;
  height: 100%;
}

body {
  overflow-wrap: break-word;
　word-wrap: break-word;
}

header {
  background-color: $thema-color2;
  // position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 40px;
}

#header.scroll {
  padding: 10px 40px;
  opacity: 0.9;
}

footer {
  background-color: $thema-color2;
  height: 100px;
  width: 100%;
}

.container {
  padding: 50px 0;
}

.basic-font {
  font-family: "text";
}

// 太字オプション
.text-bold {
  font-family: "text";
  font-weight: bold;
}

// テキスト基本サイズ
.text-normal {
  font-family: "text";
  font-size: 1.5rem;
}

.adm-gray-font {
  font-family: "text";
  font-size: 1.2rem;
  color: $thema-color4;
}

// テキスト大きめ
.font-big {
  font-family: "text";
  font-size: 2rem;
}

// 小さめ
.font-small {
  font-size: 0.9rem;
}

// 注釈テキスト用
.text-annotation {
  font-family: "text";
  font-size: 0.8rem;
  color: $thema-color3;
}

// 投稿件数用
.header-annotation {
  font-size: 1.5rem;
}

// 太字・赤字
.bold-red {
  font-weight: bold;
  color: $thema-color3;
}

// 管理者投稿詳細ページ位置情報テキスト
.area-font {
  font-family: "text";
  font-size: 1.2rem;
}

// ユーザ側ヘッダー
.pub-header {
  font-family: "public-header";
}

// 管理者側ヘッダー
.adm-header {
  font-family: "admin-header";
}

.color-black {
  color: $thema-color2;
}

.color-red {
  color: $thema-color3;
}

.color-gray {
  color: $thema-color4;
}

// ヘッダー装飾
.header-option {
  border-bottom: 2px solid $thema-color2;
  border-left: 7px solid $thema-color2;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-top: 10px;
  position: relative;
}

// 文字透明背景
.transparent-option {
  background-color: rgba(255,255,255,0.7);
  border-radius: 2px;
}

.show-transparent-option {
  background-color: rgba(255,255,255,0.7);
  border-radius: 2px;
  padding: 10px;
}

.transparent-option-profile {
  background-color: rgba(255,255,255,0.7);
  border-radius: 5px;
  min-height: 100px;
}

.card-group-option {
  display: flex;
  flex-wrap: wrap;
}

.card-option {
  background-color: $thema-color2;
  color: #fff;
  border: 1px solid $thema-color2;
  border-radius: 2px;
  text-decoration: none;
  width: 137px;
  margin: 5px;
}

.card-option:hover {
  background-color: $thema-color4;
  color: $thema-color2;
}

.card-img-border {
  border-bottom: 1px solid $thema-color2;
}

.table {
  border: 1px solid $thema-color2;
  position: relative;
}

.table tbody {
  border-bottom: 1px solid $thema-color2;
}

.table thead th {
  background-color: $thema-color2;
  color: #fff;
  font-family: "text";
}

.table tbody td {
  background-color: $thema-color4;
  font-family: "text";
  font-size: 1.1rem;
  white-space: wrap;
	overflow: hidden;
}

.table th {
  background-color: $thema-color2;
  color: #fff;
  font-family: "text";
  width: 37%;
}

// 投稿一覧ページ用
.index-th {
  width: 120px !important;
  height: 120px !important;
  padding: 0 !important;
}

.index-td {
  max-width: 200px;
}

.table tr td .index-td {
  width: 100% !important;
  padding: 0 !important;
  margin: 0.3;
}

.index-body {
  min-height: 70px;
  margin: 0 !important;
}

.index-name {
  font-family: "text";
  font-size: 0.9rem;
  color: $thema-color2;
  margin: 5px 5px 0 0 !important;
  position: absolute !important;
  bottom: 5px !important;
  white-space: wrap;
	overflow: hidden;
}

.index-name-link-option {
  font-family: "text";
  font-size: 0.9remx;
  color: $thema-color2;
  text-decoration: underline;
}

.index-name-link-option:hover {
  color: $thema-color3;
}

.table tr td .index-data {
  position: absolute !important;
  right: 0 !important;
  bottom: 0 !important;
}

// トップページの画像サイズ
.top-img-resize img {
  width: 135px;
  height: 135px;
  object-fit: cover;
  border-radius: 1px;
}

// 投稿一覧ページのサムネイルサイズ
.index-img-resize img {
  width: 130px;
  height: 130px;
  object-fit: cover;
}

// 投稿詳細ページの画像サイズ
.show-img-resize img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border: 1px solid $thema-color2;
}

// 管理者：投稿詳細ページの画像サイズ
.admin-post-img img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

// 投稿詳細ページのボーダー
.show-border {
  border-bottom: 2px solid $thema-color2;
  margin: 20px 0 15px 0;
}

.show-dashed-border {
  border-bottom: 1px dashed $thema-color2;
  margin: 5px 0 15px 0;
}

.pos-absolute {
  position: absolute !important;
  right: 0;
  bottom: 5px !important;
}

// タグオプション
.tag-option {
  color: $thema-color2;
  background-color: $thema-color4;
  padding: 5px;
  border: 1px solid $thema-color2;
  border-radius: 5px;
  width: 100%;
  margin: 0 10px;
}

// ブックマークアイコンオプション
.favorite-icon-option {
  padding: 0 20px;
  font-size: 1.6rem;
}

// コメントオプション
.comment-option {
  font-family: "text";
  font-size: 1rem;
  position: relative;
}

.comment-body {
  overflow-wrap: break-word;
}

.comment-name-date {
  text-align: right;
}

.comment-name {
  color: $thema-color2;
  text-decoration: underline;
}

.comment-name:hover {
  color: $thema-color3;
}

.comment-data {
  font-size: 0.8rem;
}

.comment-border {
  border-bottom: 1px solid $thema-color2;
  margin: 2px 0 5px 0;
}

.comment-delete {
  font-size: 0.8rem;
  color: $thema-color3;
  text-decoration: underline;
}

// ボタンオプション
.btn-option {
  font-size: 1rem;
  background: $thema-color2;
  font-family: "text";
  color: #fff;
  transition: .3s;
}

.btn-option:hover {
  background: $thema-color3;
  color: #fff;
}

.danger-btn {
  font-size: 1rem;
  background: $thema-color3;
  font-family: "text";
  color: #fff;
  transition: .3s;
}

.danger-btn:hover {
  background: $thema-color2;
  color: #fff;
}

// リンクオプション
.link-option {
  font-family: "text";
  font-size: 1rem;
  color: $thema-color2;
  text-decoration: none;
}

.link-option:hover {
  color: $thema-color3;
}

a.link-option {
  font-family: "text";
  font-size: 1.1rem;
  color: $thema-color2;
  text-decoration: underline;
}

a.link-option:hover {
  color: $thema-color3;
}

.index-link-option {
  font-family: "text";
  font-size: 1rem;
  color: $thema-color2;
  text-decoration: none;
}

.show-link-option {
  font-family: "text";
  font-size: 1.5rem;
  color: $thema-color2;
  text-decoration: none;
}

.show-link-option:hover {
  color: $thema-color3;
}

.adm-show-link-option {
  font-family: "text";
  font-size: 1.5rem;
  color: $thema-color2;
}

.adm-show-link-option:hover {
  color: $thema-color3;
}

// テキスト右寄せ
.option-right {
  text-align: right;
}

.option-right-padding {
  padding-right: 40px;
}

// テキスト中央
.option-center {
  text-align: center;
}

// テキスト左寄せ
.option-left {
  text-align: left;
}

span.option-left {
  text-align: left;
}

// 入力フォーム
input#keyword {
  width: 100%;
}

// select2用
.select2-container {
  font-family: "text";
  font-size: 1rem;
  border-color: $thema-color2;
  width: 100% !important;
}

.select2-container--default .select2-selection__choice {
  color: #fff;
  background-color: $thema-color2 !important;
  border-color: $thema-color2 !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
  color: #fff !important;
  margin-right: 3px !important;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover {
  color: $thema-color4 !important;
}

// 入力フォームボタン
input.btn-option {
  margin: 0 auto;
}

.input-form {
  font-family: "text";
  font-size: 1.1rem;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid $thema-color2;
}

.comment-form {
  font-family: "text";
  font-size: 1.1rem;
  width: 100%;
  min-height: 100px;
  margin-bottom: 10px;
  border: 1px solid $thema-color2;
}

// 画像選択フォーム
.input-file-form {
  font-family: "text";
  font-size: 13px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid $thema-color2;
}

#textarea {
  min-height: 150px;
}

// スクロールボタン
.pagetop {
  font-family: "text";
  font-size: 14px;
  color: #fff;
  line-height: 100px;
  padding-right: 30px;
  text-decoration: none;
  transition: 0.3s0;
}

.pagetop:hover {
  text-decoration: underline;
}

// ログイン・新規登録ページ
.login-option {
  width: 100%;
  max-width: 420px;
  margin: 30px auto;
  padding: 80px;
  border: 2px solid $thema-color2;
}

.login-text {
  font-size: 24px;
  font-weight: bold;
  border-bottom: 1px solid $thema-color2;
}

// アイコンオプション
.icon-option {
  border: 2px solid $thema-color2;
  background-color: rgba(255,255,255,0.7);
}

// 管理者側アイコンオプション
.adm-icon-border {
  border: 1px solid $thema-color2;
}

.adm-show-border {
  border-bottom: 2px solid $thema-color2;
  padding-bottom: 10px;
}

// 退会ページ
.unsubscribe {
  margin-top: 150px;
}
